<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>ĐĂNG NHẬP</h1>
		<% if(loi.length >0 ){ %> 
			<% for(let i=0;i<loi.length ;i++){ %>
				<div class="alert alert-danger" role="alert">
					<%= loi[i] %> 
				</div>	
			<% } %>  
		<% } %> 
    <form method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input class="form-control" id="email" name="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          class="form-control" type="password" id="password" name="password" 
        />
      </div>
      <button type="submit" class="btn btn-primary">Đăng Nhập</button>
      <br>
      <a href="/user/createAccount">Đăng Kí</a>
    </form>
		
  </body>
</html>
